//this file styles all the components on this website

//COMPONENTS

//1.Layout

//2.Header
.header {
  //padding: 0 3rem 0 3rem;
  background-color: var(--white-color);
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid var(--whitedeep-color);
  display: flex;
  align-items: center;
  font-weight: 300;
  justify-content: space-around;
  position: fixed;
  z-index: 999;
}
.nav {
  background-color: var(--whitedeep-color);
  position: fixed;
  top: 60px;
  height: 100%;
  width: 280px;
  transition: ease-out 250ms;
  left: 0;
  z-index: 20;

  &__list {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  &__item {
    list-style: none;
  }
  &__link {
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: 4px;
    color: var(--textdark-color);
  }
  &__link:hover {
    color: var(--bluedeep-color);
    transition: all 300ms ease;
  }
}
.nonedisplay {
  display: none;
}
.menutoggler {
  font-size: 25px;
  color: var(--textdark-color);
  cursor: pointer;
}
.isClosed {
  //left: -300px;
  transform: translateX(-450px);
  transition: ease 300ms;
}
.dpImage {
  border-radius: 50%;
  width: 60px;
  height: 50px;
  //margin-left: 40%;
}
.logo {
  height: 40px;
  width: 180px;
}

//3. button
.button {
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  letter-spacing: 2px;
  position: relative;
  background-color: var(--bluedeep-color);
  border: none;
  color: var(--textdark-color);
  padding: 10px;
  width: 160px;
  text-align: center;
  transition-duration: 0.5s;
  overflow: hidden;
  border-radius: 4px;
  margin-top: 2rem;
}

.button:hover {
  background: var(--textdark-color);
  box-shadow: 0.5rem 0.5rem 1rem var(--graylight-color);
  color: var(--bluelight-color);
}
.button:hover a {
  color: var(--bluelight-color);
}

.button:after {
  content: "";
  background: #00b4d8;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button:hover:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
.button:active {
  color: #0c1951;
}

.button:focus {
  outline: 0;
}

//4.Form

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 2rem;
  align-items: center;
}
.form > input {
  padding: 10px;
  border-radius: 7px;
  border-color: transparent;
  margin-bottom: 1rem;
  outline: none;
}
.form > input:last-of-type {
  margin-top: 1rem;
}
.form > * {
  font-size: 1.5rem;
  width: 95%;
  transition: all ease-out 300ms;
}
.form > label {
  margin-left: 3px;
  padding-bottom: 3px;
}
.form textarea {
  min-height: 10rem;
  border-color: transparent;
  border-radius: 7px;
  outline: none;
}
.form input[type="submit"] {
  font-weight: bolder;
  margin: 20px auto;
  width: 100px;
  cursor: pointer;
}
.form > *:focus {
  width: 100%;
  background-color: var(--whitedeep-color);
}
.form input[type="submit"]:hover {
  background-color: var(--whitedeep-color);
}
.form input[type="submit"]:active {
  transform: translateY(2px);
}

.info_icon {
  color: var(--white-color);
  font-size: 3.5rem;
}

@media (min-width: 1024px) {
  .form {
    padding-right: 10rem;
  }
}

//5.Footer
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: var(--textdark-color);
  color: var(--graylight-color);
  padding: 3rem 4rem 1rem 4rem;
  min-height: 15vh;
  padding-bottom: 3rem;
}
footer h1 {
  border-top: 1px var(--bluelight-color) solid;
  color: var(--bluedeep-color);
}
footer a {
  color: var(--graylight-color);
  font-size: 7rem;
  transition: all ease-out 300ms;
}
footer .footer__social {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}
footer a:first-of-type {
  color: var(--white-color);
}
footer a:nth-of-type(2n) {
  color: var(--graylight-color);
}
footer a:last-of-type {
  color: var(--bluedeep-color);
}

footer a:first-of-type:hover {
  color: var(--graylight-color);
  transform: scale(1.15);
}
footer a:nth-of-type(2n):hover {
  color: #3d3d3d;
  transform: scale(1.15);
}
footer a:last-of-type:hover {
  color: #1da1f2;
  transform: scale(1.15);
}

@media (min-width: 768px) {
  .header {
    justify-content: space-between;
    padding: 0 3rem 0 2rem;
  }
  .menutoggler,
  .dpImage {
    display: none;
  }
  .nonedisplay {
    display: inline-flex;
  }
  .nav__list {
    flex-direction: row;
  }
  .nav__item {
    margin-right: 2rem;
  }
  .nav {
    display: none;
  }

  // .home_main {
  //   display: flex;
  // }
  // .home1 {
  //   width: 40%;
  //   padding-top: 2rem;
  // }
  // .contact {
  //   display: flex;
  //   justify-content: space-between;
  //   justify-content: center;
  //   align-items: center;
  // }
}
// @media (min-width: 1024px) {
//   .home_main {
//     margin-top: -2rem;
//   }
//   .project {
//     &_inner_container {
//       display: grid;
//       grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
//       gap: 1.25rem;
//       column-gap: 2rem;
//     }
//   }
// }
