//utils for all pages

p {
  color: var(--textdark-color);
  font-size: 2rem;
  font-weight: 100;
}
a {
  text-decoration: none;
  color: var(--textdark-color);
}
.pb1 {
  padding-bottom: 2rem;
}

.mt {
  margin-top: 3rem;
}
.mt1 {
  margin-top: 4rem;
}
.textshadow {
  font-size: 3rem;
  color: var(--textdark-color);
  text-shadow: var(--bluedeep-color) 2px 2px;
  letter-spacing: 2px;
  padding-bottom: 2rem;
}
hr {
  border: 2px solid var(--textdark-color);
  background-color: var(--bluelight-color);
  height: 5px;
  margin: 2rem 0 2rem 0;
}
.image {
  width: 100%;
}

.title {
  font-size: 3rem;
  color: var(--textdark-color);
  margin-top: 3rem;
  letter-spacing: 0.25rem;
  padding-bottom: 2rem;
}
.blue {
  color: var(--bluedeep-color);
}

main {
  padding: 0 4rem 0 4rem;
}
.hero {
  height: 70vh;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 4, 255, 0.082),
      rgba(26, 25, 26, 0.534)
    ),
    url("/images/profilbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero_text {
  position: relative;
  color: var(--white-color);
  z-index: 10;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px var(--bluedeep-color);
}
.hero_text-greet {
  position: relative;
  top: 20rem;
  opacity: 0;
  animation: greet 1s ease-out 1s 1 forwards;
  letter-spacing: 0.5rem;
  font-size: 3rem;
  z-index: 100;
  text-shadow: 2px 2px var(--white-color);
}

//hero animation
@keyframes greet {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
    color: var(--bluedeep-color);
  }
  50% {
    opacity: 1;
    transform: scaleX(1) scaleY(0.8);
  }

  80% {
    opacity: 1;
    transform: scaleX(1) scaleY(1.5);
    color: var(--bluedeep-color);
  }
  100% {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
    color: var(--bluedeep-color);
    top: 0;
  }
}

//about section
.about-content__img {
  padding-top: 2rem;
}

.aboutImage {
  animation: filtered 10s linear 4s infinite backwards;
}

@keyframes filtered {
  0% {
    filter: none;
  }

  95% {
    filter: grayscale(1);
  }

  100% {
    filter: none;
  }
}

//projects

.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 70vh;
  margin-top: -30px;

  &__skillswrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
    row-gap: 2rem;
  }
  &__skills {
    background-color: var(--whitedeep-color);
    border-radius: 20px;
    padding: 15px 15px 25px 15px;
    box-shadow: 12px 16px 12px -9px rgba(0, 0, 0, 0.29);
    text-align: center;
  }
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__skillicon {
    width: 100%;
    border-radius: 10px;
    opacity: 1;
    transition: ease 500ms;
  }
  &__skilliconname {
    color: var(--textdark-color);
  }
  &__project-card {
    border-radius: 20px;
    overflow: hidden;
    opacity: 1;
    transition: ease 300ms;
    margin-bottom: 2rem;
    border: 1px solid #bbbbbb;
    padding-bottom: 2rem;
  }
  &__project-card:hover {
    opacity: 0.7;
    transform: scale(1.02);
    box-shadow: 12px 16px 12px -9px rgba(0, 0, 0, 0.192);
  }
  &__projectwrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.25rem;
    column-gap: 2rem;
  }
  &__codelinks {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--textdark-color);
  }
}

//contact
.contact {
  background-color: var(--bluedeep-color);
  min-height: 70vh;
  margin: 0 -4rem 0 -4rem;
  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    &-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;

      h1 {
        padding: 1rem 2rem;
        margin: 0.5rem;
        transition: all ease-out 200ms;
      }
      h1:hover {
        border-radius: 50px;
      }
    }
  }
}

//media
@media (min-width: 768px) {
  .heroImage {
    height: 90vh;
    position: relative;
    z-index: 0;
  }

  .hero {
    height: (100vh-10vh);
    font-size: 2.5rem;
  }
  .hero_text-greet {
    font-size: 5rem;
  }
  .about-content {
    display: flex;
  }
  .about-content__img {
    width: 50%;
  }
  .aboutImage {
    margin-top: -8rem;
  }
  .about-content__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .contact {
    display: flex;
  }
  .contact__contacts {
    padding: 4rem 2rem 0 0;
  }
}

////blog page css ///
.pages-pt {
  padding-top: 60px;
  min-height: 70vh;
}

.blog-page {
}

////contact page css ///
.contact-page {
  background-color: var(--whitedeep-color);
}
.contact-page__intro {
  text-align: center;
  padding: 3rem;
}
