:root {
  --white-color: #ffffff;
  --whitedeep-color: #e9e9e9;
  --graylight-color: #8e8e8e;
  --bluelight-color: #61d8f3;
  --bluedeep-color: #34a4bd;
  --bluedeeper-color: #022564;
  --textdark-color: #192c33;
  --blur-dark: rgba(0, 0, 0, 0.445);
}

@import url("https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap");

// font-family: 'Lora', serif;
// font-family: 'Montserrat', sans-serif;

// font-family: 'Oswald', sans-serif;

html {
  box-sizing: border-box;

  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Oswald", serif;
  background-color: var(--white-color);
}

li {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}
